.main-content {
    margin-left: 250px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.upload-container {
  background-color: #222;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
  text-align: center;
  width: 500px;
  max-width: 90%;
  border: 1px solid #444;
}

.upload-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #f0f0f0;
}

.upload-box {
  border: 3px dotted #555;
  padding: 40px 20px;
  border-radius: 10px;
  transition: border-color 0.3s;
}

.upload-box:hover {
  border-color: #6a0dad;
}

.upload-label {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #a9a9a9;
}

.upload-support {
  font-size: 14px;
  color: #a9a9a9;
  margin-bottom: 20px;
}